{% extends 'base.html'%}

{% block content %}

<div class="card">
  <div class="card-header">
    <h1>Record Details</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">
{{ customer_record.first_name }}
 {{ customer_record.last_name }}
</p>
<p class="card-text">{{ customer_record.email }}</p>   
    <p class="card-text">
        {{ customer_record.phone }}</p>
    <p class="card-text"></p>
        <p class="card-text"></p>   
            <p class="card-text"></p>
                <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
        
        {{ customer_record.phone }}
        {{ customer_record.address }}
        {{ customer_record.city }}
        {{ customer_record.state }}
        {{ customer_record.zipcode }}
        {{ customer_record.created_at }}


{% endblock %}