{% extends "base.html" %}

{% block content %}
<h1>Register</h1>
<form method="POST" action="{% url 'register' %}">
    {% csrf_token %}
    <div class="mb-3">
        <input type="text" class="form-control" name="username" placeholder="Enter Username" required>
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" name="password1" placeholder="Enter Password" required>
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" name="password2" placeholder="Confirm Password" required>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>

</form>
{% endblock %}